/* CSS-RESET-SECTION */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* PAGE-LOADER-STYLE-SECTION */
.loader {
    position: fixed;
    top: 0;
    left:0;
    
    min-height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    transition: opacity 0.75s, visibility 0.75s;

    z-index: 1;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;

    border: 15px solid white;
    border-top-color: #209CEE;
    border-radius: 50%;

    animation: pageLoading 0.75s ease infinite;
}


.loaderHidden {
    opacity: 0;
    visibility: hidden;
}


/* LOGO-SECTION-STYLE */
main nav .logo {
    text-align: center;
    width: 100vw;
    min-height: 5vh;

    margin: 10px 0px;
}

main nav .logo img {
    width: 50px;
    height: 50px;

    padding: 5px;
    border: 3px solid transparent;
    border-radius: 30px;

    transition: border 0.6s ease;
}

/* NAVIGATION-BAR-STYLE */
main nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main ul a {
    text-decoration: none;
    color: black;

    font-size: clamp(0.5rem, 1vw, 1.5rem);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

main ul a li {
    list-style: none;
    margin: 10px 30px;

    border: 2px solid transparent;
    border-radius: 20px;

    padding: 2px 15px;

    transition: background-color 0.5s ease;
}

/* HEADER-SECTION-STYLE */
#header {
    width: 100vw;
    min-height: 90vh;

    background-image:
    linear-gradient(to bottom, rgba(16, 16, 17, 0.659), rgba(22, 21, 22, 0.653)),
    url(resources/images/header-bg-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content:  center;

    flex-direction: column;
}

#header h1 {
    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: clamp(1.2rem, 3vw, 4rem);

    animation: dropItDown 0.5s ease;
}

#header h1 span {
    color: #209CEE;
}

#header h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 100px;

    color: white;

    animation: dropItDown 0.6s ease;
}

#header h2 span {
    color: yellow;
}

#header p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

    color: white;

    margin-top: 20px;

    animation: dropItDown 0.7s ease;
}

#header .button {
    text-decoration: none;
    color: black;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;

    margin-top: 70px;

    border: 2px solid transparent;
    border-radius: 15px;

    padding: 10px 25px;

    background-color: #209CEE;

    transition: padding 0.7s ease;

    animation: dropItDown 0.8s ease;
}

#header a i {
    color: white;
    margin-top: 60px;

    scale: 1.5;

    transition: scale 0.4s ease;

    animation: dropItDown 0.9s ease;
}

/* ABOUTME-SECTION-STYLE  */
#aboutme {
    width: 100vw;
    min-height: 100vh;
}

#aboutme .aboutme-main-text {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

#aboutme .aboutme-main-text h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid #209CEE;
    border-radius: 10px;

    background-color: #209CEE;

    padding: 5px 10px;
}

#aboutme .aboutme-main-text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;

    color: #209CEE;

    margin-bottom: 30px;
    letter-spacing: 10px;

    transition: letter-spacing 0.6s ease;
}

#aboutme .aboutme-main-text h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;

    font-size: 25px;
}

#aboutme .aboutme-main-text h3 span {
    border-bottom: 2px solid #209CEE;
    font-weight: bold;
}

#aboutme .aboutme-main-text p {
    text-align: center;
    padding-inline: 50px;
    margin-top: 50px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 20px;

    line-height: 30px;
}

#aboutme .information-details {
    display: flex;
    align-items: center;
    justify-content: center;

}

#aboutme .information-details .card {
    width: 200px;
    min-height: 130px;

    margin: 20px 90px;
    margin-top: 100px;

    border: 1px solid transparent;
    border-style: none;

}

#aboutme .information-details .card > p {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;

    color: #209CEE;
}

#aboutme .information-details .card span {
    color: rgba(0, 0, 0, 0.527);
    cursor: pointer;

    font-size: 12px;

    transition: border-bottom 0.s ease;
}

#aboutme .information-details .card span a {
    text-decoration: none;
    color:  rgba(0, 0, 0, 0.527);
}

#aboutme .down-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutme .down-arrow a {
    text-decoration: none;
    color: black;
}

#aboutme .down-arrow i {
    scale: 1.5;

    transition: scale 0.5s ease;
}

/* MY-WORK-SECTION */
#mywork {
    width: 100vw;
    min-height: 100vh;
}

#mywork .mywork-main-text {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

#mywork .mywork-main-text h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid #209CEE;
    border-radius: 10px;

    background-color: #209CEE;

    padding: 5px 10px;
}

#mywork .mywork-main-text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;

    color: #209CEE;

    margin-bottom: 30px;
    letter-spacing: 3px;

    transition: letter-spacing 0.6s ease;
}

#mywork .explore-cards-container {
    width: 100vw;
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    backface-visibility: hidden;
    animation: dropItDown 1.8s ease;
}

#mywork .explore-cards-container .explore-cards {
    position: relative;
    width: 250px;
    height: 250px;

    margin-inline: 30px;
    border-radius: 20px;
}

#mywork .explore-cards-container .explore-cards .transform-card {
    position: absolute;

    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

#mywork .explore-cards-container .explore-cards .transform-card .card-front {
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(-229deg, #48c6ef, #6f86d6);
    border-radius: 20px;

    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    text-align: center;

    font-weight: bold;
    font-size: clamp(1rem, 1.1vw, 1.8rem);
    color: white;
}

#mywork .explore-cards-container .explore-cards .transform-card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;

    transform: rotateY(180deg);

    background: linear-gradient(-229deg, #f9d423, #ff4e50);
    color: black;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-inline: 20px;

}

#mywork .modal-link-button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#mywork .down-arrow {
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#mywork .down-arrow a {
    color: black;

}

#mywork .down-arrow a i {
    scale: 1.5;

    transition: scale 0.5s ease;
}

/* MYGALLERY-STYLE-SECTION */
#mygallery {
    width: 100vw;
    min-height: 100vh;
}

#mygallery .mygallery-main-text {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

#mygallery .mygallery-main-text h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid #209CEE;
    border-radius: 10px;

    background-color: #209CEE;

    padding: 5px 10px;
}

#mygallery .mygallery-main-text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;

    color: #209CEE;

    margin-bottom: 30px;
    letter-spacing: 3px;

    transition: letter-spacing 0.6s ease;
}

#mygallery #carouselExample .carousel-inner .carousel-item  {
    width: 1440px;
    height: 500px;

    margin-left: 50px;
}

/* HIRE-ME-STYLE-SECTION */
#hireme {
    width: 100vw;
    min-height: 100vh;
}

#hireme .parallax-header {

    width: 100vw;
    min-height: 50vh;

    background-image:
    linear-gradient(to bottom, rgba(16, 16, 17, 0.659), rgba(22, 21, 22, 0.653)),
    url('resources/images/hire-me-image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 5%;

}

#hireme .parallax-header .hireme-main-text  {

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}

#hireme .parallax-header .hireme-main-text h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid #209CEE;
    border-radius: 10px;

    background-color: #209CEE;

    padding: 5px 10px;
}

#hireme .parallax-header .hireme-main-text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;

    color: white;

    margin-bottom: 30px;
    letter-spacing: 3px;

    transition: letter-spacing 0.6s ease;
}

#hireme .parallax-header .hireme-main-text a {
    text-decoration: none;
    color: white;

    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

    border: 2px solid transparent;
    border-radius: 10px;

    padding: 10px 100px;
    margin-top: 40px;

    transition: background-color 0.6s ease;
}

#hireme .skills {
    display: flex;
    align-items: center;
    justify-content: center;

}

#hireme .card {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 100px;

    margin: 0px 5px;
    margin-top: 100px;

    font-size: 16px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    transition: background-color 0.3s ease;

}

#hireme .down-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hireme .down-arrow i {
    text-decoration: none;
    color: black;

    scale: 1.5;

    margin-top: 70px;

    transition: scale 0.5s ease;
}

/* CONTACT-ME-STYLE-SECTION */
#contactme {
    width: 100vw;
    min-height: 100vh;

    background-color: #209CEE;
}

#contactme .contactme-main-text {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    cursor: pointer;
}

#contactme .contactme-main-text h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid white;
    border-radius: 10px;

    background-color: white;

    padding: 5px 10px;


}

#contactme .contactme-main-text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;

    color: white;

    margin-bottom: 30px;
    letter-spacing: 3px;

    transition: letter-spacing 0.6s ease;
}

#contactme form {

    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

#contactme form .mb-3 label {
    font-size: 17px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#contactme form .mb-3 input {
    width: 450px;
}

#contactme form .mb-3 textarea {
    width: 450px;
    border-style: none;
    outline-style: none;

    padding: 10px;

    border-radius: 5px;
}

#contactme form button {
    color: white;

    background-color: orangered;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    border-color: transparent;

    margin-top: 20px;

    padding: 10px 195px;

    transition: padding 0.2s ease;
}

#contactme .down-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 60px;
}

#contactme .down-arrow a {
    text-decoration: none;
    color: white;

    scale: 1.5;
    transition: scale 0.4s ease;
}

/* FOOTER-STYLE-SECTION  */
#footer {
    width: 100vw;
    min-height: 10vh;

    background-color: #212529;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer .footer-text h1 {
    color: white;
    font-size: 10px;

    font-weight: bold;

}

#footer .footer-text h1 span {
    color: #209CEE;
}

#footer .links a {
    text-decoration: none;
}

#footer .links a i {
    color: white;

    transition: transform 0.3s ease;
    margin-right: 20px;

}
    

/* ANIMATIONS */
@keyframes dropItDown {
    0% {
        opacity: 0;
        transform: translateY(-120px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes pageLoading {
    from { 
        transform: rotate(0turn);
    } to { 
        transform: rotate(1turn);
    }
}



/* HOVER-EFFECTS */
main ul a li:hover {
    background-color: #209CEE;
    color: white;
    cursor: pointer;
}

main nav .logo img:hover {
    cursor: pointer;
    border: 3px solid black;
}

#header .button:hover {
    padding: 10px 45px;
    cursor: pointer;
}

#header a i:hover {
    cursor: pointer;
    scale: 3;
}

#aboutme .aboutme-main-text h2:hover {
    cursor: pointer;
    letter-spacing: 0px;
}

#aboutme .information-details .card span:hover {
    border-bottom: 2px solid black;
}

#aboutme .down-arrow i:hover {
    scale: 3;
    cursor: pointer;
}

#mywork .explore-cards-container .explore-cards .transform-card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

#mywork .mywork-main-text h2:hover {
    letter-spacing: 0px;
    cursor: pointer;
}

#mywork .down-arrow a i:hover {
    cursor: pointer;
    scale: 3;
}

#mygallery .mygallery-main-text h2:hover {
    letter-spacing: 0px;
    cursor: pointer;
}

#hireme .parallax-header .hireme-main-text h2:hover {
    letter-spacing: 0px;
    cursor: pointer;
}

#hireme .parallax-header .hireme-main-text a:hover {
    cursor: pointer;
    background-color: orangered;
}

#hireme .card:hover {
    cursor: pointer;
    background-color: #209CEE;
    color: white;
}

#hireme .down-arrow i:hover {
    cursor: pointer;
    scale: 3;
}

#contactme .contactme-main-text h2:hover {
    cursor: pointer;
    letter-spacing: 0px;
}

#contactme form button:hover {
    cursor: pointer;
    padding: 10px 190px;
}

#contactme .down-arrow a:hover {
    cursor: pointer;
    scale: 3;
}

#footer .links a i:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
