/* CSS-RESET-SECTION */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

/* PAGE-LOADER-STYLE-SECTION */
.loader {
    position: fixed;
    top: 0;
    left:0;
    
    min-height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    transition: opacity 0.75s, visibility 0.75s;

    z-index: 1;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;

    border: 15px solid white;
    border-top-color: #209CEE;
    border-radius: 50%;

    animation: pageLoading 0.75s ease infinite;
}


.loaderHidden {
    opacity: 0;
    visibility: hidden;
}


/* LOGO-SECTION-STYLE */
main nav .logo {
    text-align: center;
    width: 100vw;
    min-height: 5vh;

    margin: 10px 0px;
}

main nav .logo img {
    width: 50px;
    height: 50px;

    padding: 5px;
    border: 3px solid transparent;
    border-radius: 30px;

    transition: border 0.6s ease;
}

/* NAVIGATION-BAR-STYLE */
main nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main ul a {
    text-decoration: none;
    color: black;

    font-size: clamp(0.5rem, 1vw, 1.5rem);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

main ul a li {
    list-style: none;
    margin: 10px 30px;

    border: 2px solid transparent;
    border-radius: 20px;

    padding: 2px 15px;

    transition: background-color 0.5s ease;
}

/* HEADER-SECTION-STYLE */
#header {
    width: 100vw;
    min-height: 90vh;

    background-image:
    linear-gradient(to bottom, rgba(16, 16, 17, 0.659), rgba(22, 21, 22, 0.653)),
    url(resources/images/header-bg-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content:  center;

    flex-direction: column;
}

#header h1 {
    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: clamp(1.2rem, 3vw, 4rem);

    animation: dropItDown 0.5s ease;
}

#header h1 span {
    color: #209CEE;
}

#header h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 100px;

    color: white;

    animation: dropItDown 0.6s ease;
}

#header h2 span {
    color: yellow;
}

#header p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

    color: white;

    margin-top: 20px;

    animation: dropItDown 0.7s ease;
}

#header .button {
    text-decoration: none;
    color: black;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;

    margin-top: 70px;

    border: 2px solid transparent;
    border-radius: 15px;

    padding: 10px 25px;

    background-color: #209CEE;

    transition: padding 0.7s ease;

    animation: dropItDown 0.8s ease;
}

#header a i {
    color: white;
    margin-top: 60px;

    scale: 1.5;

    transition: scale 0.4s ease;

    animation: dropItDown 0.9s ease;
}

/* ABOUTME-SECTION-STYLE  */
#aboutme {
    width: 100vw;
    min-height: 100vh;
}

#aboutme .information {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

#aboutme .information h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid #209CEE;
    border-radius: 10px;

    background-color: #209CEE;

    padding: 5px 10px;
}

#aboutme .information h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;

    color: #209CEE;

    margin-bottom: 30px;
    letter-spacing: 10px;

    transition: letter-spacing 0.6s ease;
}

#aboutme .information h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;

    font-size: 25px;
}

#aboutme .information h3 span {
    border-bottom: 2px solid #209CEE;
    font-weight: bold;
}

#aboutme .information p {
    text-align: center;
    padding-inline: 50px;
    margin-top: 50px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 20px;

    line-height: 30px;
}

#aboutme .information-details {
    display: flex;
    align-items: center;
    justify-content: center;

}

#aboutme .information-details .card {
    width: 200px;
    min-height: 130px;

    margin: 20px 90px;
    margin-top: 100px;

}

#aboutme .information-details .card > p {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;

    color: #209CEE;
}

#aboutme .information-details .card span {
    color: rgba(0, 0, 0, 0.527);
    cursor: pointer;

    transition: border-bottom 0.s ease;
}

#aboutme .information-details .card span a {
    text-decoration: none;
    color:  rgba(0, 0, 0, 0.527);
}

#aboutme .down-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutme .down-arrow i {
    scale: 1.5;

    transition: scale 0.5s ease;
}


/* ANIMATIONS */
@keyframes dropItDown {
    0% {
        opacity: 0;
        transform: translateY(-120px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes pageLoading {
    from { 
        transform: rotate(0turn);
    } to { 
        transform: rotate(1turn);
    }
}



/* HOVER-EFFECTS */
main ul a li:hover {
    background-color: #209CEE;
    color: white;
    cursor: pointer;
}

main nav .logo img:hover {
    cursor: pointer;
    border: 3px solid black;
}

#header .button:hover {
    padding: 10px 45px;
    cursor: pointer;
}

#header a i:hover {
    cursor: pointer;
    scale: 3;
}

#aboutme .information h2:hover {
    cursor: pointer;
    letter-spacing: 0px;
}

#aboutme .information-details .card span:hover {
    border-bottom: 2px solid black;
}

#aboutme .down-arrow i:hover {
    scale: 3;
    cursor: pointer;
}


/* MEDIA-QUERIES */
@media screen and (max-width: 540px) {

    main nav .logo {
        min-height: 5vh;
    }

    main nav .logo img {
        width: 30px;
        height: 30px;
    }

    main ul a li {
        margin: 0px 5px;
        padding: 5px 10px;
    }
}

/* UNIVERSAL-CSS */
.js-scroll {
    opacity: 0;
    transition: opacity 1000ms;
}

.js-scroll.scrolled {
    opacity: 1;
}